body{ Background-image:

    Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    
    Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    margin: 0
}
button{

    cursor: pointer;
}
.firstimg{
     width: 100%;
     height:900px;
}
.ul1{
justify-content: center;
    display: flex;
    width: 100%;
    letter-spacing: 2px;
}
.secondimg{
    width: 100%;
    height: 450px;

}
.buttons{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
}
.textarea{
    display: flex;
    justify-content: center;


}
.all{
    display:flex;
    align-items: center;
    

}
.labels{
  color: white;
    margin-bottom: 10%;
        margin-bottom: 5px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
}
#middle{
  text-align: center;
    
    color: white;
    
    display: grid;
    justify-content: center;
}
.select{
    width: 250px;
        margin-bottom: 15px;
        height: 34px;
        border-radius: 4px;
}
    .inputs{
        width: 250px;
        margin-bottom: 15px;
        height: 34px;
        border-radius: 4px;
    }
    .button-btn{
      margin: 0px 100px
    }

    
    .nav-item-margin{
   
    font-size: 28px;
    

    font-family: "lato",sans-serif;
    
    margin-left: 70px;
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(217, 237, 255) !important;
    
  }
  

.bgimg{
    background-image: url("../res/backgroung.png")  ;
    background-size: cover;
    width: 100%;
    height: 450px;
 justify-content: center;
    justify-items: center;
    display: flex;
background-position: center;
margin-bottom: 87px;
box-shadow: 0 3px 2px rgba(0, 0, 0, .5)

}
.feed{
    margin-bottom: 15px;
    width: 500px 
    
}
.submit{
    background-color: #204d74;
    border-color: #122b40;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    color: white
}
.text-center-courses{
    color:white;
    font-family:"lato",sans-serif;
    text-align: center;
    margin-bottom: 5px;
    font-size: 36px
    

}
.viewmore{
    color: blue;
    font-family: inherit;
    text-align: center;
    list-style: none;
}
.captures{
    display: flex;
    justify-content: center;
        text-align:center;

}
.cap1{
    background-image: url(../res/CaptureI.PNG);
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-bottom: 20px
}
    .petite{
        width: 50px;
        height: 50px;
    }
    .bigger{
        font-size: 100;
    }
    .vid{
    text-align: center;
        width: 560px;
        height:316px;
    }
    .CONTACT{
        color:white;
    text-align: center;
    display: flex;
    justify-content: center;
    text-shadow: 5px 2px rgb(12, 11, 11);
    font-family: bree serif;
    align-items: center;
    font-size:5em ;
    font-weight: 100
 }
 .bigcourses{
    color:white;
    text-align: center;
    display: flex;
    justify-content: center;
    text-shadow: 5px 2px rgb(12, 11, 11);
    font-family: bree serif;
    align-items: center;
    font-size:5em ;
    font-weight: 100
 }
 .backgrn_aff {
    display: none;
}
.cap1:hover .backgrn_aff {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000059;
  }
  .cap2{
    background-image: url(../res/CaptureII.PNG);
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-bottom: 20px
}
.cap3{
    background-image: url(../res/CaptureIII.PNG);
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-bottom: 20px
}
.cap2:hover .backgrn_aff {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000059;
  }
  .cap3:hover .backgrn_aff {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000059;
  }
  .cap4{
    background-image: url(../res/Capture4.PNG);
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-bottom: 20px
}
 
  .cap5{
    background-image: url(../res/Capture5.PNG);
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-bottom: 20px
  }
.cap6{
    background-image: url(../res/Capture6.PNG);
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-bottom: 20px
}
.cap4:hover .backgrn_aff {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000059;
  }
  .cap5:hover .backgrn_aff {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000059;
  }
  .cap6:hover .backgrn_aff {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000059;
  }
  .cap7{
    background-image: url(../res/Capture7.PNG);
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-bottom: 20px
}
 
  .cap8{
    background-image: url(../res/Capture8.PNG);
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-bottom: 20px
  }
.cap9{
    background-image: url(../res/Capture9.PNG);
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-bottom: 20px
}
.cap7:hover .backgrn_aff {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000059;
  }
  .cap8:hover .backgrn_aff {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000059;
  }
  .cap9:hover .backgrn_aff {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000059;
  }
  .capI{
    background-image: url(../res/Capture1.PNG);
    width: 250px;
    height: 250px;
    margin-left: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px
}
 
  .capII{
    background-image: url(../res/Capture2.PNG);
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-bottom: 20px
}
.capIII{
    background-image: url(../res/Capture3.PNG);
    width: 250px;
    height: 250px;
    margin-left: 50px;
margin-bottom: 20px
}
.capI:hover .backgrn_aff {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000059;
  }
  .capII:hover .backgrn_aff {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000059;
  }
  .capIII:hover .backgrn_aff {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000059;
  }
  .modal-size{
    height: 100px !important
  }
  .hide{
    color: black;
  
  }
 .w-100-height{
   width: 100%;
   height: 900px
 }
 .active-white{
   color: white !important
 }